:root{
    --bg:#0d1117;
    --panel:#161b22;
    --accent:#ffb400;
    --text:#c9d1d9;
}

body {
        background-color: var(--bg);
        color: var(--text);
        transition: background 0.3s ease; /* स्मूथ बदलण्यासाठी */
    }
    .header, .navbar, .sidebar {
        background-color: var(--panel);
        border-color: var(--border);
    }
    button, .active {
        background-color: var(--accent);
    }
/* TOPBAR */
.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 20px;
    background:#010409;
    border-bottom:2px solid var(--accent);
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    height:35px;
}

.logo span{
    color:var(--accent);
    font-weight:bold;
}

/* HERO */
.hero{
    text-align:center;
    padding:70px 20px;
}

.hero h1{
    font-size:42px;
    color:var(--accent);
}

.hero p{
    max-width:650px;
    margin:auto;
    margin-top:10px;
}

.btn{
    margin-top:25px;
    padding:14px 30px;
    background:var(--accent);
    color:black;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.05);
}

/* FEATURES */
.section{
    padding:40px 20px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:var(--panel);
    padding:20px;
    border-radius:10px;
}

/* CODE BOX */
.code-box{
    background:black;
    padding:15px;
    border-radius:8px;
    color:#00ffcc;
    font-family:monospace;
    margin-top:10px;
}

/* FOOTER */
.footer{
    text-align:center;
    padding:20px;
    background:#010409;
    border-top:1px solid var(--accent);
    margin-top:40px;
}
  .settings-panel.open { right: 0; }

.s-group { margin-bottom: 20px; }
.s-group label { display: block; font-size: 11px; color: #8b949e; margin-bottom: 8px; font-weight: bold; text-transform: uppercase; }
.s-group select, .s-group input {
    width: 100%;
    background: #0d1117;
    border: 1px solid var(--border);
    color: white;
    padding: 10px;
    border-radius: 6px;
    outline: none;
}
